{% load static %}
{% include "notes/header.html" %}

<a href="{% url 'notes:search_note' %}">Search Notes</a>

{% include "notes/preview.html" %}
<script src="{% static 'js/md-editor.js' %}"></script>

<form method="post">
    {% csrf_token %}

    <div>
        <label for="id_title">Title:</label><br>
        {{ form.title }}
        {% if form.title.errors %}
        <p style="color: red;">{{ form.title.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="md-editor">
        <div class="md-editor-toolbar">
            <button type="button" id="button-write" class="active">Write</button>
            <button type="button" id="button-preview">Preview</button>
            <div class="toolbar-spacer"></div>
        </div>
        <div class="md-editor-content">
            {{ form.content }}
            <div id="preview-content"></div>
        </div>
        {% if form.content.errors %}
        <p style="color: red;">{{ form.content.errors.0 }}</p>
        {% endif %}
    </div>

    <div>
        {{ form.private }}
        <label for="id_private">Private</label>
    </div>

    <button type="submit">Create note</button>

    {% if note_url %}
    <p>View your created note: <a href="{{ note_url }}">{{ note_url }}</a></p>
    {% endif %}
</form>

<script src="{% static 'js/embed-consent.js' %}"></script>

{% include "includes/footer.html" %}
