{% extends "base.html" %}

{% block header %}
{% include 'header.html' with title="Notes" %}
{% endblock %}

{% block main%}
<ul>
    {% for note in notes_user %}
        <li><a href="{% url 'notes:view_note' uuid=note.uuid %}">{{ note.title }}</a></li>
    {% empty %}
        <li>You have not created any notes yet</li>
    {% endfor %}
</ul>
<ul>
    {% for note in notes_all %}
        <li><a href="{% url 'notes:view_note' uuid=note.uuid %}">{{ note.title }}</a></li>
    {% empty %}
        <li>There are no public notes available</li>
    {% endfor %}
</ul>
{% endblock %}
