{% extends "base.html" %}

{% block header %}
{% include 'header.html' with title="Password Reset" %}
{% endblock %}

{% block main%}
<form method="post">
  {% csrf_token %}
  <fieldset class="module aligned">
    <div class="form-row field-email">
      {{ form.email.errors }}
      <div class="flex-container">
        <label for="id_email">Email address:</label>
        {{ form.email }}
      </div>
    </div>
  </fieldset>
  <div class="submit-row">
    <input type="submit" value="Reset my password">
  </div>
</form>
{% endblock %}
