{% extends "base.html" %}

{% block header %}
{% include 'header.html' with title="Sign Up" %}
{% endblock %}

{% block main%}
<form method="post">
  {% csrf_token %}
  
  {% if form.username.errors %}
    <div style="color: red; margin-bottom: 10px;">
      {{ form.username.errors }}
    </div>
  {% endif %}
  <div style="margin-bottom: 15px;">
    <label for="{{ form.username.id_for_label }}">Username:</label><br>
    {{ form.username }}
  </div>
  
  {% if form.email.errors %}
    <div style="color: red; margin-bottom: 10px;">
      {{ form.email.errors }}
    </div>
  {% endif %}
  <div style="margin-bottom: 15px;">
    <label for="{{ form.email.id_for_label }}">Email:</label><br>
    {{ form.email }}
  </div>
  
  {% if form.password1.errors %}
    <div style="color: red; margin-bottom: 10px;">
      {{ form.password1.errors }}
    </div>
  {% endif %}
  <div style="margin-bottom: 15px;">
    <label for="{{ form.password1.id_for_label }}">Password:</label><br>
    {{ form.password1 }}
  </div>
  
  {% if form.password2.errors %}
    <div style="color: red; margin-bottom: 10px;">
      {{ form.password2.errors }}
    </div>
  {% endif %}
  <div style="margin-bottom: 15px;">
    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label><br>
    {{ form.password2 }}
  </div>
  
  {% if form.non_field_errors %}
    <div style="color: red; margin-bottom: 10px;">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  
  <button type="submit">Sign Up</button>
</form>
{% endblock %}
